* {
    margin: 0;
    padding: 0;
}
/*__________BODY__________*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    box-shadow: inset -26px 0px 9px -15px rgba(97,97,117,0.50);
}
a {
    text-decoration: none;
    color: black;
}
/*__________HEADER__________*/
header {
    height: 5.8rem;
    background-color: white;
}
/*_____NAV_____*/
nav {
    height: 5.8rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 10px 0px rgba(109,201,247,0.5);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-nav {
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.caja-nav {
    margin: 0 1rem;
    padding: 0.5rem;
}
.bordenav {
    height: 100%;
    width: 15px;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(97,97,117,0.5));
}
.caja-nav:active {
    box-shadow: 0px 0px 10px #6dc9f7;
    border-radius: 25px;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: #fa759e;
}
.distinto {
    background-color: #6dc9f7;
    border-radius: 50px;
    padding: 0.8rem 2rem;
}
.distinto a {
    color: #FFFFFF;
}
.distinto:hover {
    opacity: 0.7;
}
.distinto a:hover {
    color: #FFFFFF;
}
/*__________MAIN__________*/
/*_____SECCIÓN1_____*/
#hola {
    text-align: center;
    padding: 9.5rem 0;
}
.div-s1 {
    /*border: #28921f solid 1px;*/
    width: 95vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.caja1-s1 {
    /*border: blue solid 1px;*/
    text-align: left;
    font-size: large;
    line-height: 50px;
    width: 28.125rem;
    margin: 2rem;
}
.caja2-s1 {
    border: blue solid 1px;
    width: 31.25rem;
    height: 28.125rem;
    margin: 2rem;
}
h1 {
    font-size: 2em;
    margin-bottom: 1rem;
    color: #3a2c60;
}
.caja1-s1 span {
    color: #fa759e;
    font-weight: bolder;
    font-size: 3.75rem;
}
.p-s1 {
    color: #616175;
    margin-bottom: 2rem;
}
.caja1-s1 a {
    background-color: #6dc9f7;
    color: white;
    border-radius: 50px;
    padding: 1rem 2rem;
}
.caja1-s1 a:hover {
    opacity: 0.7;
}
.img-s1 {
    width: 100%;
    margin: 9em 0;
}
/*_____SECCIÓN2_____*/
#conocimientos {
    background-color: #F6F7FB;
    padding: 8rem 0;
    box-shadow: inset -26px 0px 9px -15px rgba(97,97,117,0.50);
    width: 100%;
}
.div1 {
    /*border: #28921f solid 1px;*/
    width: 30rem;
    text-align: center;
    margin: 0 auto 3rem auto;
    padding-bottom: 0.5rem;
}
.div1>h2 {
    font-size: 2.5rem;
    color: #3a2c60;
    font-weight: 900;
}
.div1>p {
    color: #616175;
    font-size: 1rem;
}
.div2-s2 {
    /*border: #28921f solid 1px;*/
    width: 56rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;    
}
/*Cards-s2*/
.caja-s2 {
    border: #dddfe5 solid 1px;
    background-color: white;
    border-radius: 10px;
    flex-basis: 260px;
    height: 95%;
    text-align: center;
    margin: 1em;
}
.img-s2 {
    width: 50%;
    padding-top: 15%;
}
.div2-s2 h2 {
    margin-bottom: 15%;
}
.caja-s2:hover {
    border: #6dc9f7 solid 1px;
    color: #6dc9f7;
}
/*_____SECCIÓN3_____*/
#s3 {
    background-color: #3a2c60;
    box-shadow: inset -26px 0px 9px -15px rgba(97,97,117,0.50);
    text-align: center;
    color: white;
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.comillas {
    /*border: black solid 1px;*/
    width: 10rem;
}
#s3 p {
    font-size: 1.6rem;
    width: 69rem;
    margin: 1.7em auto;
    line-height: 35px;
}
.louis {
    font-weight: 900;
}
#s3 div {
    width: 69rem;
}
/*_____SECCIÓN4_____*/
#proyectos {
    text-align: center;
    padding: 8rem 0;
    width: 100%;
}
#proyectos .div1 h2 {
    margin-bottom: 0.5em;
}
.div2-s4 {
    /*border: #28921f solid 1px;*/
    width: 69.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;   
}
/*Cards-s4*/
.caja-s4 {
    background-color: white;
    border: #dddfe5 solid 1px;
    border-radius: 10px;
    width: 21rem;
    height: 18.9rem;
    text-align: center;
    margin: 1em;
    padding-bottom: 2em;
}
.img-s4 {
    width: 90%;
    height: 70%;
    padding-top: 15%;
    margin-bottom: 6%;
}
.caja-s4:hover {
    border: #6dc9f7 solid 1px;
    color: #6dc9f7;
}
.caja-s4:hover h3 {
    color: #6dc9f7;
}
.caja-s4:active {
    box-shadow: 0px 0px 10px #6dc9f7;
    border-radius: 10px;
}
.github {
    text-decoration: none;
    font-weight: bold;
}
/*_____SECCIÓN5_____*/
#contacto {
    background-color: #F6F7FB;
    box-shadow: inset -26px 0px 9px -15px rgba(97,97,117,0.50);
    text-align: center;
    padding: 12em 0;
    width: 100%;
}
.div1-s5 {
    background-color: white;
    border: 1px #dddfe5 solid;
    border-radius: 10px;
    width: 69rem; 
    margin: auto;
    padding: 4em 0;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
/*Contactame*/
.caja1-s5 {
    /*border: blue solid 1px;*/
    width: 40%;
    font-size: 1.2em;
    text-align: left;
}
.tit-s5 {
    font-size: 2.3em;
    font-weight: 900;
    color: #3a2c60;
    margin-bottom: 0.5em;
}
.caja1-s5>p {
    margin-bottom: 2em;
    color: #616175;
}
.caja1-s5>div {
    margin-bottom: 1em;
    display: table;
    padding: 5px 20px 5px 0px;
}
.caja1-s5>div:active {
    box-shadow: 0px 0px 10px #6dc9f7;
    border-radius: 25px;
}
.caja1-s5 i {
    color: #fa759e;
    margin: 0 10px;
    padding: 10px;
}
.divs:hover i {
    color: white;
    background-color: #fa759e;
    border-radius: 25px; 
    padding: 10px;
}
.divs:hover a {
    color:#fa759e;
}
/*Escribime*/
.caja2-s5 {
    /*border: blue solid 1px;*/
    width: 40%;
    font-size: 1.2em;
    text-align: left;
}
label {
    display: block; 
    float: center; 	
    margin-bottom: 0.5em;
}
input {
	height: 40px; 
	width: 100%; 
    background-color: #F6F7FB;
    border: hidden;
	border-radius: 20px; 
    margin-bottom: 1em;
    
}
textarea {
    height: 150px; 
    width: 94%; 
    background-color: #F6F7FB;
    border-radius: 20px;
    border: hidden; 
    margin-bottom: 1em;
    padding: 1em;
}
*:focus {
    outline: none;
}
.ayn {
    display: flex;
    justify-content: space-between;
}
.p-nom, .p-ape {
    width: 48%;
}
.enviar {
    width: 25%;
	font-size: 1em;
    color: white;
    background-color: #6dc9f7; 
	border: #6dc9f7 solid 1px; 
	border-radius: 20px;   
    cursor: pointer;
}
.enviar:hover {
    opacity: 0.7;
}
.obligatorio {
    color: #a13cba;
}
form input:required:valid {
    background: #fff url("https://icons.iconarchive.com/icons/graphicrating/koloria/16/Valid-icon.png") no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
form input:focus:invalid {
    background: #fff url("https://icons.iconarchive.com/icons/graphicrating/koloria/16/Error-icon.png") no-repeat 98% center;
    box-shadow: 0 0 5px #a14cb6;
    border-color: #a13cba;
}
form textarea:required:valid {
    background: #fff url("https://icons.iconarchive.com/icons/graphicrating/koloria/16/Valid-icon.png") no-repeat 98% 95%;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
form textarea:focus:invalid {
    background: #fff url("https://icons.iconarchive.com/icons/graphicrating/koloria/16/Error-icon.png") no-repeat 98% 95%;
    box-shadow: 0 0 5px #a14cb6;
    border-color: #a13cba;
}
/*__________FOOTER__________*/
footer {
    background-color: #3a2c60;
    box-shadow: inset -26px 0px 9px -15px rgba(97,97,117,0.50);
    text-align: center;
    padding: 4em 0;
}
/*Menú de links*/
footer>a {
    color: white;
    padding: 0 10px;
}
footer>a:active {
    box-shadow: 0px 0px 10px white;
}
/*Menú de íconos*/
footer ul {
    list-style: none;
}
footer li {
    display: inline;
    margin: 0 17px;
}
footer i {
    color: #fa759e;
    font-size: 1.5em;
    border: white solid 1px;
    border-radius: 25px; 
    background-color: white;
    padding: 10px;
    margin: 2em 0;
}
footer i:hover {
    color: white;
    background-color: #fa759e;
}
footer i:active {
    box-shadow: 0px 0px 10px white;
}
/*Párrafo*/
footer>p {
    color: white;
}
.corazon {
    width: 40px;
    vertical-align: middle;
}

/*__________MediaQuery__________*/

/*Header*/
@media (max-width: 1100px) {
    .menu {
        visibility: hidden;
    }
    header {
        box-shadow: inset -26px 0px 9px -15px rgba(97,97,117,0.50);
        height: 0;
    }
}

/*Sección1*/
@media (max-width: 1138px) {
    .div-s1 {
        flex-direction: column;
    }
    .caja1-s1 {
        text-align: center;
    }
}
@media (max-width: 590px) {
    .caja1-s1 {
        width: 80%;
        margin: auto;
    }
    .caja2-s1 {
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 550px) {
    .caja1-s1 span {
        font-size: 2.75rem;
    }
}

/*Sección2*/
@media (max-width: 919px) {
    .div2-s2 {
        width: 37rem;
    }
}
@media (max-width: 599px) {
    .div2-s2 {
        width: 19rem;
    }
}
@media (max-width: 550px) {
    .div1>h2 {
        font-size: 2rem;
    }
    .div1 {
        width: 85%;
    }
    .div2-s2 {
        width: 55%;
    }
}

/*Sección3*/
@media (max-width: 1109px) {
    #s3 div, #s3 p {
        width: 90%;
        font-size: 1.4rem;
    }
}

/*Sección4*/
@media (max-width: 1156px) {
    .div2-s4 {
        width: 46.5rem;
    }
}
@media (max-width: 744px) {
    .div2-s4 {
        flex-direction: column;
        width: 23rem;
    }
}
@media (max-width: 430px) {
    .div2-s4 {
        width: 85%;
    }
    .caja-s4 {
        width: 95%;
        height: 13%;
    }
}

/*Sección5*/
@media (max-width: 1149px) {
    .div1-s5 {
        width: 95%;
    }
}
@media (max-width: 900px) {
    .div1-s5 {
        flex-direction: column;
        justify-content: center;
        width: 95%;
        padding-left: 1.3em;
    }
    .caja1-s5 {
        width: 95%;
        padding-bottom: 1em;
    }
    .caja2-s5 {
        width: 95%;
    }
}
@media (max-width: 500px) {
    .ayn {
        justify-content: center;
        flex-direction: column;
    }
    .p-nom, .p-ape {
        width: 100%;
    }
    .tit-s5 {
        font-size: 2rem;
    }
}

/*Footer*/
@media (max-width: 700px) {
    .menu-fot {
        visibility: hidden;
    }
}